@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    display: flex;
  }

  nav ul {
    flex-direction: row;
    margin-top: 0;
  }

  nav li {
    margin-right: 20px;
  }

  .p-4 {
    padding: 2rem;
  }

  .text-xl {
    font-size: 1.25rem;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }
}
